.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(189, 173, 173);
    border-radius: 10px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 50px;
        border-radius: 100%;
    }
}

.active-player {
    background-color: orange;
}