.start-screen {
    background-color: #404040;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.start-label-img {
    width: 20vw;
    max-width: 400px;
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }
}